/*
Theme Name: creditreports
Theme URI: http://www.creditreports.ee/
Description: creditreports.
Version: 1.0
Author: Anton
Author URI: http://www.freakinc.eu/
Text Domain: creditreports
*/

/* @import url("//hello.myfonts.net/count/25fecc");   */
@font-face {
	font-family: 'HelveticaNeueLTCom-HvCn';
	src: url('fonts/25FECC_0_0.woff')
}
@font-face {
	font-family: 'AGaramond-SemiboldItalic';
	src: url('fonts/25FECC_2_0.woff');
}
@font-face {
	font-family: 'Bisnode';
	src: url('fonts/helveticaneue-webfont.woff');
}


@media screen {
	/* Clearfix modern */
	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table;
	}

	.clearfix:after {
		clear: both;
	}

	/* Clearfix IE6-7 */
	.clearfix {
		zoom: 1;
	}

	/* Clearfix end */
	img {
		border: 0;
	}

	p {
		margin: 20px 0;
	}

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.image {
		border: 1px solid #fff;
		outline: 1px solid #c9c9c9;
	}

	/* page */
	body {
		background: #BED000;
		margin: 0;
		padding: 0;
		font-size: 12pt;

	}

	.frontpage {
		min-height: 550px;
		background-color: #D1C1C1;
		background: url(images/Image5.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 10px solid rgba(220, 220, 220, 0.5);
		border-top: 10px solid rgba(220, 220, 220, 0.5);
		padding-bottom: 5em;
		padding-top: 2em;
	}

	.contentpage {
		min-height: 550px;
		background-color: #fff;
		background-size: cover;
		border-bottom: 10px solid rgba(220, 220, 220, 0.5);
		border-top: 10px solid rgba(220, 220, 220, 0.5);
		padding-bottom: 5em;
		padding-top: 2em;
	}

	/* top-menu */
	.wrapper {
		background: #BED000;
		height: auto;
	}

	#page > #header {
		border-bottom: 5px solid rgba(220,220,220,.7);
	}

	header .widthlimit {
		margin-top:20px;
		width: 940px; }

	.main-heading {
		margin: 30px 0;
		padding-left: 20px;
	}

	.main-heading h1 {
		display: inline-block;
		font-family: HelveticaNeueLT, 'Helvetica Neue LT', 'Helvetica Neue', Bisnode, Arial, sans-serif;
		margin: 0;
		padding: 0 10px;
		text-transform: uppercase;
	}

	aside {
		float: left;
		width: 250px;
	}

	aside + section {
		margin-left: 280px;
		padding-bottom: 50px;
	}

	.main-navigation {
		background: #BED000;
		float: right
	}

	.main-navigation ul li:hover a {
		color: #676767;
	}

	.top-menu {

	}

	.top-menu li {
		display: inline-block;
		list-style-position: inside;
		font-family: HelveticaNeueLT, 'Helvetica Neue LT', 'Helvetica Neue', Bisnode, Arial, sans-serif;
	}

	.top-menu li.current_page_item {

	}

	.top-menu a {
		color: black;
		text-decoration: none;
	}

	.top-menu li.current_page_item a {
		a: hover opacity : .3;

	}

	/* footer */
	footer {
		padding: 20px;
		text-align: center;
		height: auto;
		clear: both;
		background: #BED000;
		color: black;
		font-size: 14px;
		font-family: HelveticaNeueLT;
	}

	#ss {
		padding: 10px 10px 10px 55px;
		width: 77%;
		background: #fff url('images/search_ico_black.png') no-repeat left;
		border: 2px solid #000;
		font-size: 26px;
		font-family: Bisnode, Signika, Helvetica, Arial, sans-serif;
		display: inline-block;
	}

	#search_submit {
		color: transparent;
		background: url("images/next_ico_black.png") no-repeat scroll -8px -4px transparent;
		padding: 0;
		margin-left: -44px;
		width: 37px;
		height: 50px;
		border: 0;
		cursor: pointer;
		display: inline-block;
	}


	h1, h3, h4, h5 {
		font-family: HelveticaNeueLTCom-HvCn;
	}

	h2, h6, label, .label, dt {
		font-family: AGaramond-SemiboldItalic;
	}


	* {
		font-family: HelveticaNeueLT, 'Helvetica Neue LT', 'Helvetica Neue', Bisnode, Arial, sans-serif;
		font-size: 1em;
		line-height: 1.5em;
	}

	html, body {
		background: #BED000;
		color: #000;
		margin: 0;
		padding: 0;
		font-size: 12pt;
		min-height: 90%;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.columns, .cols {
		float: left;
		padding-right: 5%;
	}

	.three.columns, .three.cols {
		width: 30%;
	}

	.three.columns.double, .three.cols.double {
		width: 60%;
	}

	.two.columns, .two.cols {
		width: 45%;
	}

	.clear {
		clear: both;
	}

	.center {
		text-align: center;
	}

	.space {
		margin: 15em 0 10em;
	}

	iframe {
		border: 2px solid black !important;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 1em 0 .3em 0;
		font-weight: 300;
	}

	p {
		margin: .3em 0 1em 0;
	}

	th {
		text-align: inherit;
	}

	code {
		font-family: monospace;
		color: #fff;
		background-color: #000;
		padding: 3px 5px;
	}

	h1 {
		line-height: 1em;
		font-size: 2em;
	}

	h1, h2 {
		text-transform: uppercase;
	}

	h1 small, h2 small {
		font-family: AGaramond-SemiboldItalic;
		color: #444;
		font-size: 80%;
	}

	h1.underline {
		border-bottom: 4px solid #000;
		display: inline-block;
		line-height: 0.8em;
	}

	.widthlimit {
		width: 900px;
		margin: 0 auto;
	}

	#header {
		border-bottom: 5px solid rgba(220, 220, 220, .7);
		padding-bottom: 4px;
	}

	#header .widthlimit {
		width: 940px;
	}

	#menu-holder {
	}

	#menu-toggle {
		display: none;
	}

	#menu-menu {
		float: right;
		margin: 0.8em 0 0;
		text-align: right;
	}

	#menu-menu li {
		display: inline;
		list-style: none;
	}

	#menu-menu li a {
		color: #000;
		font-family: Bisnode, Signika, Helvetica, Arial, sans-serif;
		font-size: 14pt;
		font-weight: normal;
		margin-left: 5px;
		padding: 10px 5px;
		text-decoration: none;
	}

	#menu-menu li a:hover {
		opacity: .3;
	}

	.logged-out #menu-item-19, .logged-out #menu-item-22, .logged-out #menu-item-21, .logged-out #menu-item-20 {
		display : none;
	}

	.logged-out #menu-menu li.login a {
		padding-left: 15px;
		background: transparent url("images/login_btn_black.png") no-repeat 0 12px;
	}


	#content {
		background-color: rgb(255, 255, 255);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 10px solid rgba(220, 220, 220, 0.5);
		border-top: 10px solid rgba(220, 220, 220, 0.5);
		padding-bottom: 5em;
		padding-top: 2em;
	}

	#content a {
		color: #444;
		text-decoration: none;
	}

	#content a:hover {
		color: #BED000;
	}

	#copyright {
		text-align: center;
		padding: 2em;
		font-size: 10pt;
		color: #000;
	}

	#footer {
		border-top: 5px solid rgba(220, 220, 220, .7);
		font-size: 10pt;
	}

	#footer #menu {
		margin-top: 2.8em;
	}

	#footer #menu li a {
		font-size: 14pt;
	}

	#search_q {
		padding: 10px 10px 10px 55px;
		width: 77%;
		background: #fff url('images/search_ico_black.png') no-repeat left;
		border: 2px solid #000;
		font-size: 26px;
		font-family: Bisnode, Signika, Helvetica, Arial, sans-serif;
	}

	#search_submit {
		color: transparent;
		background: url("images/next_ico_black.png") no-repeat scroll -8px -4px transparent;
		padding: 0;
		margin-left: -44px;
		width: 37px;
		height: 50px;
		border: 0;
		cursor: pointer;
	}

	dl {
		width: 100%;
	}

	#lang{
		float:right;
		opacity: 0.8;
	}
	#lang :hove{
		opacity: 0.5;
	 }

	#lang li{
		display: inline-block;
	}
	#lang .active{
		display: none;
	}


	dt {
		float: left;
		clear: left;
		text-wrap: avoid;
		text-align: left;
		margin-top: 0.13em;
		min-width: 150px;
	}

	dd {
		margin: 0 0 0 150px;
		padding: 0 0 0.5em 0;

	}

	#search_result {
		list-style-type: none;
		padding-left: 0
	}

	#search_result a {
		color: #444;
		text-decoration: none;
		padding: 1em;
		margin: 1px 0;
		display: block;
		font-size:1em;
	}

	#search_result a:hover {
		color: #BED000;
		background: #fff url('images/next_ico_green.png') no-repeat right;
	}

	#search_result li i {
		margin-right: 1.5em;
		font-family: AGaramond-SemiboldItalic;
	}

	.zebra > :nth-child(odd) {
		background-color: #eee;
	}

	.zebra > :nth-child(even) {
		background-color: #dedede;
	}

	#round {
		background: #666 url('images/round.png') no-repeat center;
		display: inline-block;
		width: 180px;
		height: 180px;
		font-size: 900%;
		font-family: HelveticaNeueLTCom-HvCn;
		color: #fff;
		text-align: center;
	}

	#purchases_list {
		list-style-type: none;
		padding-left: 0
	}

	#purchases_list a {
		color: #444;
		text-decoration: none;
		padding: 1em;
		margin: 2px 0;
		display: block;
		/*  background: transparent url('images/icon_download_black.png') no-repeat right; */
	}

	#purchases_list a:hover {
		color: #BED000;
		background: #fff url('images/icon_download_green.png') no-repeat right;
	}

	#purchases_list li span {
		display: inline-block;
		min-width: 100px;
		font-size:0.9em;
	}

	#purchases_list li .reg {
		font-family: AGaramond-SemiboldItalic;
	}

	.buy {
		border: 0 !important;
		clear: both;
		font-size: 1.5em;
		width: 100%;
		padding: .5em 1em;
		margin-bottom:5px;
		background-color: #BED000;
		border-radius: 0.5em;
		cursor: pointer;
		color: #444;
		margin-right: .1em;
	}
	a{
		text-decoration: none;
		color: #444;
	}

	.buy:hover {
		background-color: #d8ef00;
		color: #555 !important;
	}

	.message {
		color: #B8860B;
		background-color: #FFFFE0;
		border-radius: 10px;
		margin-bottom: 10px;
		padding: 10px;
		font-size: 30px;
	}

	.error {
		color: #FF0000;
		border-radius: 10px;
		font-weight: bold;
		padding: 10px;
	}

	#loginform input, form input, form textarea {
		border: 2px solid black;
		clear: both;
		display: block;
		font-size: 1.5em;
		margin-bottom: 0.3em;
		padding: 0.1em 0.5em;
	}

	form table, form input, form textarea {
		width: 100%;
	}


	#wp-submit {
		width: 100%;
		border: 0 !important;
		clear: both;
		font-size: 1.5em;
		padding: 0.5em 1em !important;
		background-color: #BED000;
		border-radius: 0.5em;
		cursor: pointer;
		color: #444;
		margin-right: .1em;
	}
	#wp-submit:hover {
		background-color: #d8ef00;
		color: #555 !important;
	}

	#report #header {
		display: none;
	}
}

@media only screen and (max-width: 800px) {


	.columns { float: none; width: 100% !important; }

	input { width: 100%; }

	html, body { display: block; overflow-x: hidden; width:100%; }
	.widthlimit, #header .widthlimit { width: auto; display: block; padding-left: 1em; padding-right: 1em; }

	#menu-menu { display: none;
		width: 33%;
		background-color: #BED000;
		position: absolute;
		right: 0;
		top: 69px;
		border-bottom: 10px solid rgba(220, 220, 220, 0.7);
		border-left: 4px solid rgba(220, 220, 220, 0.7);
		border-right: 4px solid rgba(220, 220, 220, 0.7);
	}

	#menu-menu li {
		display: none;
		float: none;
		padding: 0.4em 0.5em;
	}


	#menu-toggle { display: block; float:right;   margin-top: 14px; }

	#lang li{
		padding-right:1em;
	}


	/** report **/

	#report #logo { display: none;}
	#report fieldset { float: none;
		display: block;
		width: auto;
		height: auto;
		padding: 1em 0 !important;  }

	#report .hscroll { overflow-x: auto; }

	#report h1, #report h2 { padding: 0 !important; margin:0 !important }

	header .widthlimit {
		margin-top:20px;
		width: auto; }

}

